@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 15rem;
  min-width: 6.4rem;
  margin: 0 auto;
  background-color: #F7F7F7;
  line-height: 1.5;
  font-family: Arial, Helvetica, STHeiti, sans-serif;
}
a {
  text-decoration: none;
}
img {
  background: 0;
  vertical-align: middle;
}
li,
ol,
ul {
  list-style: none;
}
.hui {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}
.xrzx {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -7.38rem;
  left: 50%;
  margin-left: -6.4rem;
  width: 13.2rem;
  height: 14.36rem;
  z-index: 1002;
}
.xrzx > i {
  position: absolute;
  display: block;
  top: -1rem;
  right: 0;
  width: 0.96rem;
  height: 0.96rem;
  background-image: url(../img/关闭3秒.png);
  background-size: 0.96rem 0.96rem;
}
.xrzx > img {
  width: 100%;
  height: 100%;
}
.sn_head {
  position: relative;
  width: 15rem;
  height: 3.6rem;
}
.sn_head .sn_head_box {
  position: relative;
  width: 15rem;
  padding: 0 0.68rem;
  height: 1.76rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sn_head .sn_search {
  position: relative;
  width: 15rem;
  padding: 0 0.48rem;
  height: 1.84rem;
}
.top_bj {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 3.6rem;
  overflow: hidden;
}
.top_bj > img {
  position: absolute;
  bottom: 0;
  width: 15rem;
  height: 5.2rem;
}
.sn_head_box > .top_a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sn_head_box .top_a > img {
  width: 0.72rem;
  height: 1.2rem;
}
.sn_head_box > .top_a:nth-child(2) {
  flex: 9;
}
.sn_head_box .top_a:nth-child(2) > img {
  width: 7.8rem;
  height: 1.52rem;
}
.search_padding {
  padding-top: 0.32rem;
}
.sn_search_margin {
  width: 14rem;
  height: 1.28rem;
  position: relative;
  line-height: 1.28rem;
  border-radius: 50px;
  background-color: #fff;
}
.sn_search_margin > img {
  width: 0.72rem;
  height: 0.72rem;
  position: absolute;
  left: 0.6rem;
  top: 0.3rem;
}
.sn_search_margin > .zhiti {
  display: inline-block;
  position: absolute;
  height: 0.2rem;
  font-size: 0.56rem;
  color: #999999;
  left: 1.5rem;
}
.nav_warp {
  width: 15rem;
  height: 6.4rem;
  background: url(../img/nav/nav_bj.jpg) no-repeat;
  background-size: 15rem 6.4rem;
  display: flex;
  flex-direction: column;
}
.nav_liwarp {
  width: 15rem;
  height: 6.16rem;
}
.nav_liwarp > ul {
  flex: 1;
  display: flex;
}
.nav_liwarp ul > a {
  position: relative;
  width: 3rem;
  height: 2.84rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav_liwarp ul a > img {
  width: 1.68rem;
  height: 1.68rem;
}
.nav_text {
  position: absolute;
  display: block;
  text-align: center;
  width: 3rem;
  height: 0.56rem;
  overflow: hidden;
  font-size: 0.44rem;
  color: #666;
  bottom: 0.02rem;
}
.friday {
  width: 15rem;
  height: 5.19rem;
  display: flex;
}
.friday > div {
  flex: 1;
}
.friday div > img {
  width: 100%;
  height: 100%;
}
.content {
  width: 15rem;
  height: 18.24rem;
  padding: 0 0.48rem;
  display: flex;
}
.content_ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content_left {
  flex: 1;
  display: flex;
}
.content_left ul > div {
  width: 6.84rem;
  height: 2.4rem;
  flex: 1;
  margin-bottom: 0.36rem;
}
.content_left ul > div:nth-child(3) {
  flex: 2.08;
}
.div_img {
  position: relative;
}
.div_img > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.nei_tupian {
  width: 6.84rem;
  height: 2.4rem;
  position: absolute;
  top: 0.9rem;
  display: flex;
}
.nei_tupian > div {
  position: relative;
  flex: 1;
}
.nei_tupian div > img {
  width: 3.08rem;
  height: 3.08rem;
}
.nei_tupian div > .nei_qian {
  color: #FF0000;
  background: #FFEBEB;
  position: absolute;
  left: 0.66rem;
  bottom: -0.6rem;
  padding: 0 0.28rem;
  border-radius: 0.56rem;
  font-size: 0.44rem;
  line-height: 0.56rem;
}
.div_img2 {
  display: flex;
}
.div_img2 > div {
  flex: 1;
  position: relative;
}
.div_img2 > div:nth-child(1) {
  background: url(../img/内容1/phb.png) no-repeat;
  background-size: 3.42rem 4.2rem;
}
.div_img2 > div:nth-child(2) {
  background: url(../img/内容1/hui1.png) no-repeat;
  background-size: 3.42rem 4.2rem;
}
.div_img2 div > img {
  position: absolute;
  left: 0.34rem;
  top: 1.1rem;
  width: 2.72rem;
  height: 2.72rem;
}
.div_img2 div > .img2_text {
  position: absolute;
  text-align: center;
  border-radius: 0.56rem;
  font-size: 0.4rem;
  line-height: 0.56rem;
}
.div_img2 div > .yanse {
  width: 2.96rem;
  height: 0.56rem;
  left: 0.24rem;
  bottom: 0.22rem;
  background: #FFF6ED;
  color: #B95A17;
}
.div_img2 div > .yanse1 {
  width: 2.32rem;
  height: 0.56rem;
  left: 0.56rem;
  bottom: 0.22rem;
  background: #FFEBEB;
  color: #B95A17;
}
.div_img3 {
  display: flex;
}
.div_img3 > div {
  flex: 1;
  position: relative;
}
.div_img3 > div:nth-child(1) {
  background: url(../img/内容1/cjg.png) no-repeat;
  background-size: 3.42rem 4.2rem;
}
.div_img3 > div:nth-child(2) {
  background: url(../img/内容1/slzb.png) no-repeat;
  background-size: 3.42rem 4.2rem;
}
.div_img3 div > img {
  position: absolute;
  left: 0.34rem;
  top: 1.1rem;
  width: 2.72rem;
  height: 2.72rem;
}
.div_img3 div > .img3_text {
  position: absolute;
  text-align: center;
  border-radius: 0.56rem;
  font-size: 0.4rem;
  line-height: 0.56rem;
  width: 2.96rem;
  height: 0.56rem;
  left: 0.24rem;
  bottom: 0.22rem;
  background: #FFF6ED;
  color: #B95A17;
}
.div_img4 {
  display: flex;
}
.div_img4 > div {
  flex: 1;
  position: relative;
}
.div_img4 > div:nth-child(1) {
  background: url(../img/内容1/cldz.png) no-repeat;
  background-size: 3.42rem 4.2rem;
}
.div_img4 > div:nth-child(2) {
  background: url(../img/内容1/bybt.png) no-repeat;
  background-size: 3.42rem 4.2rem;
}
.div_img4 div > img {
  position: absolute;
  left: 0.34rem;
  top: 1.1rem;
  width: 2.72rem;
  height: 2.72rem;
}
.div_img4 div > .img4_text {
  position: absolute;
  text-align: center;
  border-radius: 0.56rem;
  font-size: 0.4rem;
  line-height: 0.56rem;
}
.div_img4 div > .yanse {
  width: 2.96rem;
  height: 0.56rem;
  left: 0.24rem;
  bottom: 0.22rem;
  background: #FFF6ED;
  color: #B95A17;
}
.div_img4 div > .yanse1 {
  width: 2.32rem;
  height: 0.56rem;
  left: 0.56rem;
  bottom: 0.22rem;
  background: #FFEBEB;
  color: #B95A17;
}
.div_img5 {
  width: 6.84rem;
  height: 4.2rem;
  position: relative;
  background: url(../img/内容1/menkuan.png) no-repeat;
  background-size: 6.84rem 4.2rem;
}
.div_img5 > img {
  width: 2.4rem;
  height: 2.4rem;
}
.div_img5 > img:nth-child(1) {
  position: absolute;
  top: 1.2rem;
  left: 0.6rem;
}
.div_img5 > img:nth-child(2) {
  position: absolute;
  top: 1.2rem;
  right: 0.6rem;
}
.div_img5 > span {
  color: #fff;
  display: inline-block;
  width: 3.12rem;
  line-height: 0.96rem;
  text-align: center;
  font-size: 0.52rem;
  font-weight: 700;
}
.div_img5 > .img5_text {
  position: absolute;
  left: 0.24rem;
}
.div_img5 > .img5_text1 {
  position: absolute;
  right: 0.24rem;
}
.img5_bj {
  display: inline;
  background: url(../img/内容1/mengkuanqian.png) no-repeat;
  background-size: 2.72rem 0.64rem;
  color: #FFFFFF;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.56rem;
  line-height: 0.56rem;
  position: absolute;
  left: 0.84rem;
  bottom: 0.36rem;
}
.img5_bj1 {
  display: inline;
  background: url(../img/内容1/mengkuanqian.png) no-repeat;
  background-size: 2.72rem 0.64rem;
  color: #FFFFFF;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.56rem;
  line-height: 0.56rem;
  position: absolute;
  right: 0.6rem;
  bottom: 0.36rem;
}
.div_img6 {
  width: 6.84rem;
  height: 4.2rem;
  position: relative;
  background: url(../img/内容1/menkuan.png) no-repeat;
  background-size: 6.84rem 4.2rem;
}
.div_img6 > img {
  width: 2.4rem;
  height: 2.4rem;
}
.div_img6 > img:nth-child(1) {
  position: absolute;
  top: 1.2rem;
  left: 0.6rem;
}
.div_img6 > img:nth-child(2) {
  position: absolute;
  top: 1.2rem;
  right: 0.6rem;
}
.div_img6 > span {
  color: #fff;
  display: inline-block;
  width: 3.12rem;
  line-height: 0.96rem;
  text-align: center;
  font-size: 0.52rem;
  font-weight: 700;
}
.div_img6 > .img6_text {
  position: absolute;
  left: 0.24rem;
}
.div_img6 > .img6_text1 {
  position: absolute;
  right: 0.24rem;
}
.img6_bj {
  display: inline;
  background: url(../img/内容1/mengkuanqian.png) no-repeat;
  background-size: 2.72rem 0.64rem;
  color: #FFFFFF;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.56rem;
  line-height: 0.56rem;
  position: absolute;
  left: 0.6rem;
  bottom: 0.36rem;
}
.img6_bj1 {
  display: inline;
  background: url(../img/内容1/mengkuanqian.png) no-repeat;
  background-size: 2.72rem 0.64rem;
  color: #FFFFFF;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.56rem;
  line-height: 0.56rem;
  position: absolute;
  right: 0.7rem;
  bottom: 0.36rem;
}
.lunbo {
  width: 6.84rem;
  height: 8.76rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.24rem;
}
.lunbo > img:nth-child(1) {
  position: absolute;
  top: -1.04rem;
  width: 6.84rem;
  height: 10.72rem;
}
.lunbo > img:nth-child(2) {
  position: absolute;
  width: 6.84rem;
  height: 1.2rem;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -0.16rem;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet-active {
  border-radius: 4px;
  width: 22px;
  height: 8px;
}
:root {
  --swiper-theme-color: #fff;
}
.content_right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content_right ul > div {
  flex: 1;
  margin-bottom: 0.36rem;
  margin-left: 9px;
}
.cnxh {
  display: block;
  margin: 0 auto;
}
.cnxh > img {
  width: 14.04rem;
  height: 1.2rem;
  margin: 0 0.48rem;
}
.neirong {
  width: 15rem;
}
.neirong .neirong_margin {
  margin: 0 0.48rem;
  display: flex;
}
.neirong_margin > ul {
  flex: 1;
}
.left1 {
  width: 6.84rem;
  height: 10.56rem;
  border-radius: 0.24rem;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 0.36rem;
}
.left1 > img {
  width: 6.84rem;
  height: 6.84rem;
}
.nr_text {
  color: #333;
  margin: 0.36rem auto 0;
  width: 6.36rem;
  height: 1.34rem;
  font-size: 0.52rem;
  line-height: 0.68rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.jianmiam {
  display: flex;
  width: 5.38rem;
  margin: 0.22rem 0.24rem 0.48rem;
  height: 0.48rem;
  overflow: hidden;
  flex-wrap: wrap;
}
.jianmiam > span {
  margin: 0 0.06rem 0.04rem 0.04rem;
  border-radius: 0.12rem;
  height: 0.48rem;
  padding: 0.04rem 0.24rem;
  line-height: 0.4rem;
  font-size: 0.36rem;
  box-sizing: border-box;
  border: 1px solid #FFBB00;
  background: #FEFBEE;
}
.qq {
  margin-left: 0.24rem;
  line-height: 0.76rem;
  display: flex;
  height: 0.76rem;
  font-size: 0.48rem;
  color: #FF4422;
  font-weight: bold;
  align-items: flex-end;
}
.qq > span:nth-child(1) {
  line-height: 0.56rem;
}
.qq > span:nth-child(2) {
  font-size: 0.72rem;
  line-height: 0.72rem;
}
.qq > span:nth-child(3) {
  color: #999999;
  margin-left: 0.26rem;
  font-weight: normal;
  font-size: 0.4rem;
}
.fhdb {
  display: none;
  position: fixed;
  width: 2rem;
  height: 2rem;
  bottom: 3.7rem;
  right: 0.3rem;
  background: url(../img/返回顶部.png) no-repeat;
  background-size: 2rem 2rem;
  z-index: 30;
}
.denglu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: 0 auto;
  width: 15rem;
  height: 1.8rem;
  z-index: 30;
}
.denglu > img {
  width: 100%;
  height: 100%;
}
.base {
  width: 15rem;
  height: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  z-index: 20;
}
.base > a {
  flex: 1;
  justify-content: center;
  align-items: center ;
}
.base a > img {
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.24rem auto 0;
}
.dibi_text {
  display: block;
  font-size: 0.4rem;
  line-height: 0.64rem;
  color: #666;
  text-align: center;
}
.buyy {
  color: #000000;
  font-weight: bold;
}
.zuidi {
  margin-bottom: 2rem;
  width: 15rem;
  height: 3.46rem;
}
.yc {
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
}
.ycss {
  background: url(../img/top/topbeij.jpg) no-repeat;
  width: 15rem;
  height: 1.76rem;
  display: flex;
}
.ycss > .ycss_bj {
  width: 13.64rem;
  height: 1.76rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ycss .ycss_bj > a {
  text-align: center;
  flex: 1;
}
.ycss .ycss_bj a > img {
  width: 0.72rem;
  height: 1.2rem;
}
.ycss .ycss_bj > div {
  flex: 6;
}
.ycssk_margin {
  height: 1.28rem;
  position: relative;
  line-height: 1.28rem;
  border-radius: 50px;
  background-color: #fff;
}
.ycssk_margin > img {
  width: 0.72rem;
  height: 0.72rem;
  position: absolute;
  left: 0.6rem;
  top: 0.3rem;
}
.ycssk_margin > .zhiti {
  display: inline-block;
  position: absolute;
  height: 0.2rem;
  font-size: 0.56rem;
  color: #999999;
  left: 1.5rem;
}
